<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>An HTML5 Template</title>
    <meta name="description" content="A simple boilerplate template for HTML5 projects">
    <meta name="author" content="Joshua Baldwin">

    <link rel="stylesheet" href="">
</head>
<body>
    <!-- Website Content -->
    <button id="generate-samples">Click me!</button>

    <audio controls>
        <source src="" type="audio/wav">
    </audio>

    <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/generator.js"></script>
</body>
</html>