<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daft Punk WaveGAN Sample Generator</title>
    <meta name="description" content="A sample generator for Daft Punk implemented with WaveGAN">
    <meta name="author" content="Joshua Baldwin">

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <!-- Website Content -->
    <div id="header_container">
        <h1>Daft Punk WaveGAN Sample Generator</h1>
    </div>

    <div id="button_container">
        <button id="generate_samples">Generate New Samples</button>
    </div>

    <div id="loading_wheel">
        <img src="images/rhombus.gif"/>
    </div>

    <div id="audio_files_container">
        <div id="audio_files_top">
            <audio id="audio_item_0" controls>
                <source src="/sample0.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_1" controls>
                <source src="/sample1.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_2" controls>
                <source src="/sample2.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_3" controls>
                <source src="/sample3.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_4" controls>
                <source src="/sample4.wav" type="audio/wav">
            </audio>
        </div>
        <div id="audio_files_bottom">
            <audio id="audio_item_5" controls>
                <source src="/sample5.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_6" controls>
                <source src="/sample6.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_7" controls>
                <source src="/sample7.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_8" controls>
                <source src="/sample8.wav" type="audio/wav">
            </audio>
            <audio id="audio_item_9" controls>
                <source src="/sample9.wav" type="audio/wav">
            </audio>
        </div>
    </div>

    <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/generator.js"></script>
</body>
</html>